<!DOCTYPE html>
<html lang="zh" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jinger">
    <meta name="author" content="Ochukai">

    <title>Jinger by Bootstrap</title>
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/loading-bar/loading-bar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/vendor/nav-js/responsive-nav.css"><![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!--<![endif]-->
</head>

<body>

    <div id="nav-sider" class="nav-collapse">
        <ul role="navigation" class="nav nav-pills nav-stacked">
            <li>
                <a href=""><h2> 京儿 </h2></a>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div role="main" class="main">
        <a href="#nav" class="nav-toggle">Menu</a>
        <div class="container-fluid">
            <div class="row">
                <div id="main-container" class="col-sm-12 col-md-12" ng-view>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/nav-js/responsive-nav.min.js"></script>
    <!--  angularjs  -->
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular/angular-animate.js"></script>
    <script src="assets/vendor/angular/angular-route.js"></script>
    <script src="assets/vendor/angular/angular-storage.js"></script>
    <script src="assets/vendor/loading-bar/loading-bar.js"></script>
    <script src="assets/js/app/app.js"></script>
    <script src="assets/js/app/controllers.js"></script>
</body>

</html>
