doctype html
html(lang='zh', ng-app='myApp')
  head
    base(href='/admin')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Jinger')
    meta(name='author', content='Ochukai')
    
    title= title
    
    // Bootstrap core CSS
    link(href='/bower-components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower-components/angular-loading-bar/build/loading-bar.min.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
  body
    // sider menus
    admin-sider

    .main(role='main')
      .container-fluid(ng-view='')
    
    // Bootstrap core JavaScript
    script(src='/bower-components/jquery/dist/jquery.min.js')
    script(src='/bower-components/bootstrap/dist/js/bootstrap.min.js')

    // Angular
    script(src='/bower-components/angular/angular.min.js')
    script(src='/bower-components/angular-animate/angular-animate.min.js')
    script(src='/bower-components/angular-route/angular-route.min.js')
    script(src='/bower-components/angular-resource/angular-resource.min.js')
    script(src='/bower-components/a0-angular-storage/dist/angular-storage.min.js')
    script(src='/bower-components/angular-loading-bar/build/loading-bar.min.js')
    
    // angular file upload
    script(src='/bower-components/es5-shim/es5-shim.min.js')
    script(src='/bower-components/es5-shim/es5-sham.min.js')
    script(src='/bower-components/angular-file-upload/angular-file-upload.min.js')

    // app
    script(src='/js/app/app.js')

    // controllers
    script(src='/js/app/controllers/main-ctrl.js')
    script(src='/js/app/controllers/login/login-ctrl.js')
    script(src='/js/app/controllers/login/logout-ctrl.js')
    script(src='/js/app/controllers/login/regist-ctrl.js')
    
    script(src='/js/app/controllers/brand/brand-edit-ctrl.js')
    script(src='/js/app/controllers/brand/brand-index-ctrl.js')
    script(src='/js/app/controllers/brand/brand-show-ctrl.js')
    
    // services
    script(src='/js/app/services/login-service.js')
    script(src='/js/app/services/brand-service.js')
    script(src='/js/app/services/pagination-service.js')

    // directives
    script(src='/js/app/directives/admin-sider.js')
    script(src='/js/app/directives/ng-thumb.js')
    script(src='/js/app/directives/image-selector.js')
