doctype html
html(lang='zh', ng-app='myApp')
  head
    base(href='/admin')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Jinger')
    meta(name='author', content='Ochukai')
    
    title= title
    
    // Bootstrap core CSS
    link(href='/bower-components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower-components/angular-loading-bar/build/loading-bar.min.css', rel='stylesheet')

    // editor styles
    link(href='/js/vendor/kindeditor/themes/default/default.css', rel='stylesheet')
    link(href='/js/vendor/kindeditor/themes/simple/simple.css', rel='stylesheet')

    link(href='/css/styles.css', rel='stylesheet')
  body
    // alerts
    .alerts
      div(ng-repeat='alert in alerts', class='alert alert-{{alert.type}} animation')
        button.close(type='button', ng-click='alert.close()', aria-hidden='true') ×
        {{ alert.msg }}

    // sider menus
    admin-sider

    // main
    .main(role='main')
      .container-fluid
        ng-view

    script(type='text/ng-template', id='myModalContent.html')
        <div class="modal-header"><h4 class="modal-title">删除？</h4></div>
        <div class="modal-body">
        <p>真的要删除这一条吗(<span>这是可以恢复的</span>)？</p>
        </div>
        <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()"> 删除 </button>
        <button class="btn btn-default" ng-click="cancel()"> 不 </button>
        </div>

    // Jquery
    script(src='/bower-components/jquery/dist/jquery.min.js')

    // Angular
    script(src='/bower-components/angular/angular.min.js')
    script(src='/bower-components/angular-animate/angular-animate.min.js')
    script(src='/bower-components/angular-route/angular-route.min.js')
    script(src='/bower-components/angular-resource/angular-resource.min.js')
    script(src='/bower-components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/bower-components/a0-angular-storage/dist/angular-storage.min.js')
    script(src='/bower-components/angular-loading-bar/build/loading-bar.min.js')

    // other libs
    script(src='/js/vendor/kindeditor/kindeditor-min.js')
    script(src='/js/vendor/kindeditor/lang/zh_CN.js')
    script(src='/js/vendor/angular-kindeditor/angular-kindeditor.js')

    // angular file upload
    script(src='/bower-components/es5-shim/es5-shim.min.js')
    script(src='/bower-components/es5-shim/es5-sham.min.js')
    script(src='/bower-components/angular-file-upload/angular-file-upload.min.js')

    // app
    script(src='/js/app/app.js')

    // controllers
    script(src='/js/app/controllers/main-ctrl.js')
    script(src='/js/app/controllers/login/login-ctrl.js')
    script(src='/js/app/controllers/login/logout-ctrl.js')
    script(src='/js/app/controllers/login/register-ctrl.js')

    script(src='/js/app/controllers/brand/brand-edit-ctrl.js')
    script(src='/js/app/controllers/brand/brand-index-ctrl.js')
    script(src='/js/app/controllers/brand/brand-show-ctrl.js')

    script(src='/js/app/controllers/product/product-edit-ctrl.js')
    script(src='/js/app/controllers/product/product-index-ctrl.js')
    script(src='/js/app/controllers/product/product-show-ctrl.js')

    script(src='/js/app/controllers/category/category-edit-ctrl.js')
    script(src='/js/app/controllers/category/category-index-ctrl.js')
    script(src='/js/app/controllers/category/category-show-ctrl.js')
    
    // services
    script(src='/js/app/services/login-service.js')
    script(src='/js/app/services/brand-service.js')
    script(src='/js/app/services/product-service.js')
    script(src='/js/app/services/category-service.js')
    script(src='/js/app/services/alert-service.js')

    // directives
    script(src='/js/app/directives/admin-sider.js')
    script(src='/js/app/directives/ng-thumb.js')
    script(src='/js/app/directives/pagination.js')