doctype html
html(lang='zh', ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Jinger')
    meta(name='author', content='Ochukai')
    
    title= title
    
    // Bootstrap core CSS
    link(href='/bower-components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower-components/angular-loading-bar/build/loading-bar.min.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
  body
    // sider menus
    admin-sider

    .main(role='main')
      .container-fluid
        .row
          #main-container.col-sm-12.col-md-12.ng-animate-fade(ng-view='')
    
    // Bootstrap core JavaScript
    script(src='/bower-components/jquery/dist/jquery.min.js')
    script(src='/bower-components/bootstrap/dist/js/bootstrap.min.js')
    // Angular
    script(src='/bower-components/angular/angular.min.js')
    script(src='/bower-components/angular-animate/angular-animate.min.js')
    script(src='/bower-components/angular-route/angular-route.min.js')
    script(src='/bower-components/a0-angular-storage/dist/angular-storage.min.js')
    script(src='/bower-components/angular-loading-bar/build/loading-bar.min.js')
    script(src='/js/app/app.js')
    script(src='/js/app/controllers.js')
    script(src='/js/app/services.js')
    script(src='/js/app/directives.js')
