html,
body {
    min-height: 100%;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #3E4651;
}

/**/

.panel {
    padding-left: 0;
    padding-right: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/**/

/*nav-sider*/

.nav-collapse {
    position: absolute;
    width: 16%;
    min-width: 120px;
    top: 2em;
    left: 0;
}

.nav-collapse > h1 {
    color: #eee;
    text-align: center;
    margin-bottom: 1em;
}

.nav-collapse > ul > li {
    /*    text-align: right;*/
}

/*change bootstrap's style.*/

.nav > li > a {
    color: #eee;
    transition: background .2s ease-in;
}

.nav > li > a:hover {
    color: #428bca;
    background-color: #fff;
}

.nav > li > a {
    color: #eee;
}

.nav > li.divider {
    height: 1px;
    width: 90%;
    background-color: #fff;
    margin: 1em auto;
    box-shadow: 0 0 1px #eee;
}

/*nav toggle button*/

.nav-toggle {
    display: none;
}

/*begin main*/

.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 1em 2.5em;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    top: 1em;
    right: 0;
    bottom: 0;
    width: 84%;
    background: #fff;
}

/*change style of scroll bar.*/

.main::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #aaaaaa;
    width: 8px;
    height: 8px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #3E4651;
}

/*login*/

.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*logout page*/

#logout-well {
    margin: 2.5em 1em;
}

#logout-well > h1 {
    margin: .8em 0 1.2em;
}

#logout-well > p:last-child {
    margin: 2em 0;
}

#logout-well > p:last-child > a {
    margin-right: 1em;
}

/*image selector*/

.img-upload-container {
    border: 3px dotted #7ABA7B;
    border-radius: 10px;
    width: 80%;
    min-height: 150px;
    cursor: pointer;
}

.img-upload-container > input[type="file"] {
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.img-upload-container:hover {
    background: #efe;
}

.img-upload-text {
    display: block;
    line-height: 150px;
    height: 150px;
    font-size: 1.6rem;
    text-align: center;
    color: #7ABA7B;
}

.img-upload-del {
    display: inline-block;
    margin: 5px;
    z-index: 20;
}