<div class="page-header">
    <h1> 产品管理 <small> 添加产品 </small></h1>
</div>

<form name="productForm" ng-sugmit="submit()" novalidate
      class="form-horizontal" role="form">
    <div class="col-sm-8">
        
        <div class="form-group">
            <label for="input-brand" class="col-sm-3 control-label">所属品牌</label>
            <div class="col-sm-4">
                <select id="input-brand" class="form-control"
                        ng-model="product.brandId">
                    <option selected="selected">京儿</option>
                </select>
            </div>
        </div>
        
        <div class="form-group" ng-class="error('name')">
            <label for="input-name" class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
                <p class="help-block" ng-show="productForm.name.$invalid">
                    必须填写名字，五个字以上，不要有空格。
                </p> 
            </div>
        </div>
        <hr />
        
        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">原料与成分</label>
            <div class="col-sm-9">
                <div class="col-sm-12">
                    <span class="label label-default">Default</span>
                    <span class="label label-primary">Primary</span>
                    <span class="label label-success">Success</span>
                    <span class="label label-info">Info</span>
                    <span class="label label-warning">Warning</span>
                    <span class="label label-danger">Danger</span>
                </div>
                <input id="input-name" class="form-control col-sm-4" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
                <p class="help-block" ng-show="productForm.name.$invalid">
                    必须填写名字，五个字以上，不要有空格。
                </p>
                <span ng-show="!productForm.name.$invalid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="input-name" class="col-sm-3 control-label">功能主治</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>
        
        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">适宜人群</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>
        
        <div class="form-group " >
            <label for="input-name" class="col-sm-3 control-label">使用方法</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>

        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">保存方法</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="input-shelf" class="col-sm-3 control-label">保质期</label>
            <div class="col-sm-3">
                <div class="input-group">
                  <input id="input-shelf" type="number" class="form-control"
                         ng-model="product.shelfLife"
                         required>
                  <span class="input-group-addon">个月</span>
                </div>
            </div>
        </div>
        
        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">注意事项</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>
        
        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">执行标准</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>
        
        <div class="form-group" >
            <label for="input-name" class="col-sm-3 control-label">批准文号</label>
            <div class="col-sm-4">
                <input id="input-name" class="form-control" type="text" placeholder="请输入名称"
                       name="name"
                       ng-model="product.name"
                       required 
                       minLength="5"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success"
                        ng-disabled="productForm.$invalid"> 添加 </button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 选择分类 </h3>
            </div>
            <div class="panel-body"> 
                <ul>
                    <li class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">1
                        </label>
                    </li>
                    <li>
                        <input type="checkbox">nihao</li>
                    <li>
                        <input type="checkbox">nihao</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 添加分类 </h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="分类名称">
                    </div>
                    <button type="submit" class="btn btn-primary">添加</button>
                </form>
            </div>
        </div>
    </div>
</form>