.row
  .page-header
    h1 产品管理&nbsp;
      small &nbsp;产品列表
.row
  .col-sm-12
    .col-sm-2
      // Standard button
      a.btn.btn-primary.btn-block(href='/admin/product/new')  添加
    .col-sm-offset-1.col-sm-8
      form.form-inline.pull-right(role='form', ng-submit='queryByCondition()')

        .form-group
          label.sr-only(for='input-name')  品牌
          select.form-control(ng-model="queryProductBrand", ng-options='brand.id as brand.name for brand in brands')
            option(value='') -品牌-

        .form-group
          label.sr-only(for='input-name')  分类
          select.form-control(ng-model="queryProductCategory", ng-options='cate.id as cate.name for cate in categories')
            option(value='') -分类-

        .form-group
          label.sr-only(for='input-name')  类型
          select.form-control(ng-model="queryProductType", ng-options='type.id as type.name for type in types')
            option(value='') -类型-

        .form-group
          label.sr-only(for='queryProductName') 名称
          input#queryProductName.form-control.oquery-input(type='text', placeholder='名称', ng-model='queryProductName')
        button.btn.btn-primary(type='submit') 查询

hr

.row
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th.col-sm-1 #
          th.col-sm-2 名称
          th.col-sm-2 分类
          th.col-sm-2 所属品牌
          th.col-sm-2 图片
          th.col-sm-1 类型
          th.col-sm-1 #
      tbody
        tr(ng-repeat='product in products')
          td {{ product.id }}
          td {{ product.name }}
          td {{ product.category_names }}
          td {{ product.brand_name }}
          td {{ product.type_name }}
          td {{ product.type_name }}
          td
            .btn-group.btn-group-sm(role='group')
              button.btn.btn-default(type='button', ng-click='edit(product.id)')
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
              button.btn.btn-danger(type='button', ng-click='remove(product.id)')
                span.glyphicon.glyphicon-trash(aria-hidden='true')
  paginat