.row
  .page-header
    h1 产品管理&nbsp;
      small &nbsp;产品列表
.row
  .col-sm-12
    .col-sm-2
      // Standard button
      a.btn.btn-primary.btn-block(href='/admin/product/new')  添加
    .col-sm-offset-1.col-sm-8
      form.form-inline.pull-right(role='form', ng-submit='queryByName()')
        .form-group
          label.sr-only(for='queryCategoryName') 名称
          input#searchName.form-control(type='text', placeholder='输入全称或某一个字', ng-model='queryCategoryName')
        button.btn.btn-primary(type='submit') 查询
hr
.row
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th.col-sm-1 #
          th.col-sm-2 名称
          th.col-sm-2 分类
          th.col-sm-2 所属品牌
          th.col-sm-2 图片
          th.col-sm-1 类型
          th.col-sm-1 #
      tbody
        tr
          td 1
          td 钙片
          td 京儿
          td 妇幼保健
          td 。。。
          td 药品
          td
            .btn-group.btn-group-sm(role='group')
              button.btn.btn-default(type='button', ng-click='edit(product.id)')
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
              button.btn.btn-danger(type='button', ng-click='remove(product.id)')
                span.glyphicon.glyphicon-trash(aria-hidden='true')

        tr(ng-repeat='product in categories')
          td {{ product.id }}
          td {{ product.name }}
          td {{ product.parent_id }}
          td {{ product.parent_name }}
          td {{ product.parent_name }}
          td {{ product.parent_name }}
          td
            .btn-group.btn-group-sm(role='group')
              button.btn.btn-default(type='button', ng-click='edit(product.id)')
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
              button.btn.btn-danger(type='button', ng-click='remove(product.id)')
                span.glyphicon.glyphicon-trash(aria-hidden='true')
  paginat