.img-upload-container(id='')
  a.btn.btn-danger.img-upload-del.pull-right(href='#', ng-click='uploader.clearQueue()')
    span.glyphicon.glyphicon-trash   
  span.img-upload-text {{hint}}   
  input(type='file', name='{{name}}', ng-show='uploader.queue.length <= 0', nv-file-select='', uploader='uploader', multiple='')
