html
  body
    .page-header
      h1  &#x8BF7;&#x767B;&#x9646; 
    form.form-signin(role='form', ng-submit='login()')
      input.form-control(type='text', placeholder='用户名', required='', autofocus='', ng-model='username')
      |     
      input.form-control(type='password', placeholder='密码', required='', ng-model='password')
      |     
      .checkbox
        label
          input(type='checkbox', value='remember-me', ng-model='rememberMe')
          | &#x8BB0;&#x4F4F;&#x5BC6;&#x7801;
      |     
      button.btn.btn-lg.btn-primary.btn-block(type='submit') &#x786E;&#x8BA4;&#x767B;&#x9646;
