html
  body
    #logout-well.well
      h1  &#x771F;&#x7684;&#x8981;&#x6CE8;&#x9500;&#x5417;&#xFF1F;
      |     
      p
        | &#x5982;&#x679C;&#x6CE8;&#x9500;&#x4E0B;&#x6B21;&#x767B;&#x5F55;
        strong &#x9700;&#x8981;&#x8F93;&#x5165;
        | &#x7528;&#x6237;&#x540D;&#x548C;&#x5BC6;&#x7801;&#xFF01;
      |     
      p &#x76F4;&#x63A5;&#x5173;&#x95ED;&#x6D4F;&#x89C8;&#x5668;&#x5219;&#x4E0D;&#x9700;&#x8981;&#x3002;
      |     
      p
        a.btn.btn-danger.btn-lg(href='#', role='button', ng-click='logout()')  &#x786E;&#x8BA4;&#x6CE8;&#x9500; 
        |         
        a.btn.btn-default.float-right(href='#/me', role='button')  &#x8FD4;&#x56DE; 
