<nav class="text-center">
    <ul class="pagination">
        <li ng-class="{ disabled: !page.hasPrevious() } ">
            <a ng-click="toPreviousPage()">&laquo;</a>
        </li>

        <li ng-repeat="pn in page.pages track by $index"
            ng-class="{ active: page.isCurrent(pn), disabled: page.isNotNumber(pn) }">
            <a ng-click="toSelectedPage(pn)"> {{pn}} </a>
        </li>

        <li ng-class="{ disabled: !page.hasNext() } ">
            <a ng-click="toNextPage()">&raquo;</a>
        </li>
    </ul>
</nav>