html
  body
    #nav-sider.nav-collapse
      ul.nav.nav-pills.nav-stacked(role='navigation')
        li
          a(href='#/')
            h2  &#x4EAC;&#x513F; 
        |         
        li.divider
        |         
        li(ng-class="{'active': menu.isActive, 'divider': menu.isDivider}", ng-repeat='menu in menus')
          a(ng-if='!menu.isDivider', href='/admin{{menu.url}}')  {{menu.name}} 
