.row
  #logout-well.well
    h1 真的要注销吗？
    p 如果注销下次登录需要输入用户名和密码！
    p 直接关闭浏览器则
      em 不需要。
    p
      a.btn.btn-danger.btn-lg(href='#', role='button', ng-click='logout()') &#x786E;&#x8BA4;&#x6CE8;&#x9500;
      a.btn.btn-default.float-right(href='/admin/me', role='button') &#x8FD4;&#x56DE;
